<<<<<<< Updated upstream
*{
  box-sizing: border-box;
}
body {
  background-color: black;
}

.uk-navbar-left{
  background-color: black;
}
.buscador{
  position: absolute;
  right:10%;
}
li a.login{
  position:relative;
  right: -820%;
}

footer{
  overflow: hidden;
}
.logotmdb, .nombres{
    float: left; width: 45%; margin-right: 10%;
}
.logotmdb img{
padding-top: 1%; max-width: 100%;
}
.nombres{
  color: white; margin-right: 0; text-align: right; font-size: 100%; font-family: sans-serif; position: relative; top:30px; right:0;
}
h5{
margin-top: 0;
margin-bottom: 0;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: black;
  font-family: sans-serif;

}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: .875rem;
  color: #999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: .875rem;
  border: none;
  outline: none;
  color: #999;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #999;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.poster{
  width: 100%;
  height: 100px;
}
=======
<<<<<<< Updated upstream
=======
/* *{
  box-sizing: border-box;
  margin:0;
  width: 100%;
  font-family: sans-serif;
}

body{
  background-color: black;
}


nav{
  overflow: hidden;
  height: 100px;
  width: 100%;
  background-color: lightblue;
}
nav ul{
  margin:0;
  padding:0;
  overflow: hidden;

  }
nav ul li{
  width: 15%;
  float: left;
  color: white;
  margin-left: 0;
  text-align: center;
  padding-top: 45px;
  line-height: 10px;
  height: 20%;
  list-style:none;
  font-size: 1.5em;
  margin-right: 5%;
}
nav ul li a{
  text-decoration: none;
color: white;
}

nav ul li a:hover {

  color: grey;
}

nav ul li:nth-child(4){
  margin-left: 14%;
  margin-right: 1%;
  width: 20%;
  padding-top: 25px;
  overflow: hidden;
}

nav ul li:last-child {
  margin-right: 0;
  position: absolute;
  right: 0;
  padding-right: 20px;
  text-align: right;
  width: 10%;
}
nav ul li:nth-child(1){
padding-left: 0;
  padding-top: 0;
  margin-left: 0;
  text-align: left;
  display: block;
  margin-right: 0;
}

.genero {
  background: transparent;
  background-color: white; /* fallback color if gradients are not supported */
  }

.logo{
  width: 100%;
  height: 100%;
}

.lupita{
  width: 10%;
  float: left;
}

.lupitaa{
  width: 90%;
  float: left;
  padding-top: 5px;
  margin-top: 5px;
} */
>>>>>>> Stashed changes
>>>>>>> Stashed changes
